.page_container {
  display: flex;
}

.tools_and_projects_container {
  height: 100vh;
  width: 50%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 10px 10px 40px;
  overflow: auto;
}

@media (max-width: 991px) {
  .page_container {
    flex-direction: column;
  }

  .tools_and_projects_container {
    height: 100%;
    width: 100%;
  }
}
