html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  font-weight: 300;
  line-height: 180%;
  background-color: var(--color-background);
  color: var(--color-text);  
}

a {
  color: var(--color-links);
}